/* CSS reset statement */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* this selector statement targets
the body element */
body {
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 50% 50%;
  border: solid 2px red;
}

header {
  display: flex;
  flex-direction: column;
}

/* this selector statement targets the html element with
the class value of header, i.e. class="header" */
.portfolio {
  padding: 60px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  background-color: blue;
  color: aliceblue;
}

/* this selector statement targets the nav element which is
a child of any h1 element, that at hte same time is a child
of any header element */

header nav {
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}

nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  margin: 0 1rem;
}

/* this selector statement targets the html element with
the class value of ShawkiHaifa */
.work h2{
  display: flex;
  float: right;
  font-weight: bold;
}

 p2{
  display: flex;
  justify-content: right;
}

.contact-me {
  display: flex;
  background-color: blue;
}
p3{
  display: flex;
  justify-content: right;
}
.resume h4{
  display: flex;
  justify-content: flex-start;

}

 p4{
  display:flex;
  justify-content:right;
}
/*  we typically won't target html elements for styling
using their id values---id values are best suited for
targeting in JavaScript files */

