body {
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 50% 50%;
}
.header{
    padding: 60px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: blue;
    color: aliceblue;
}
header h1 nav{
    display: inline;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.ShawkiHaifa {
    font-weight: bold;
}
nav{
    font-size: 
    float
}
.Work{
    font-weight: bold;
    display: inline-flexbox;
    float: right;
    font-style: italic;

}
